.comingSoon{
    height: 100vh;
    padding: 1rem;
}
.comingSoon img{
    max-width: 600px;
    margin-left: -5rem;
}
.comingSoon h1, p{
    color: var(--description);
}
.comingSoon input{
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .comingSoon{
        padding: 2rem;
    }
    .comingSoon img{
        max-width: 300px;
        margin-left: -2rem;
    }
    .comingSoon h1{
        font-size: 1.5rem;
    }
    .comingSoon p{
        font-size: .8rem;
    }
    
}